<div class="container">
    <div class="row">
        <h1>Home Page</h1>
        <div class="col-md-2"></div>
        <div class="col-md-8"></div>

    </div>
</div>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h2>PRTY Enterprise</h2>
  <tbody>
      <p>The purpose of this project is to provide a detailed project description of the application called PRTY Enterprise. Our project is to create an enterprise-scaled management system to help PRTY Enterprise to operate users login information and integration with other common application.
</p>
      <p>To allow different employees to be able to receive information about others in a more efficient manner; one of our project goals is to conduct a company portal where general information about all employees in PRTY Enterprise will be presented. By building up this portal, employees can find others’ contact information and office locations more quickly to facilitate their workflow. In addition, an employee will have his/her section where he/she can view the personal information to confirm the data that is on the company database is correct and up-to-dated, so that others can look up this employee on the portal instead of meeting physically.
</p>
      <p>This project is going to show how each employee in PRTY Enterprise is able to have the convenient access to every platforms that they will be required to operate at work. For example, PRTY Enterprise incorporated source codes into company products heavily. This project is going to integrate employees’ credentials into Github accounts, so that employees are capable of into their source codes repositories.
</p>
      <p>Automation is one of our main goals in PRTY Enterprise, and the primary tool we are integrating to our system is Jenkins. We would like employees to operate with Jenkins to automate certain tasks to make the whole working process more efficiently. To gain more effective access on Jenkins, it is our responsibility to provide them simple login credentials to work with Jenkins. The login information should be the same with their computer user login credentials, so that they will not need to memorize for several different usernames and passwords.
</p>
      <p>The last thing that will enhance our project is to integrate the login credential into social media platform. We have not decided yet about the software that we are going to integrate, but some of them that are under discussion are Twitter, Facebook, and Instagram. This feature will make employees follow more about company cultures, and what is currently going on with the corporation for not missing out anything. Choosing the applications that are more well-known and common is intention to instill the company elements into everybody’s personal live.
</p>
  </tbody>
    </div>
</div>