<h1>Twitter</h1>

{{!-- Search function --}}
<div>
    <h2>Search</h2>
    <form action="/twitter/searchResult" method="POST">
        <label>Search User:</label><br />
        <input type="text" name="username" /><br />
        <input type="submit" name="submit" value="Search" />

    </form>
</div>

{{!-- Show list of trends --}}
<div>
    <h2>Twitter Trends</h2>
    <p>
        You probably want to follow these trends on Twitter...:
    </p>
    {{!-- display twitter trends --}}
    {{#each trending}}
    <a href="{{this.url}}">
        {{this.name}}
    </a>
    <br />
    {{/each}}
</div>

<br /><br />

<div>
    <div>
        <a href="https://twitter.com/PrtyEnterprise?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow
            @PrtyEnterprise</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>


    {{!-- display twitter timeline --}}
    {{!-- Show timeline with given user --}}
    <a class="twitter-timeline" data-width="500" href="https://twitter.com/PrtyEnterprise?ref_src=twsrc%5Etfw">Tweets
        by PrtyEnterprise</a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>